::ng-deep .mat-select-value {
  color: white !important;
}

::ng-deep .mat-select-arrow {
  color: white !important;
}

::ng-deep .mat-form-field-underline {
  bottom: 0 !important;
  background-color: white !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
