<nav class="navbar navbar-dark bg-dark navbar-expand-md" style="min-height: 50px; margin-bottom: 40px;"
     role="navigation">
  <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>&#x2630;
  </button>
  <a class="navbar-brand" href="#">e-Vote</a>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <!--<li class="nav-item"><a routerLink="/clinic/clinics" class="nav-link">Clinics</a></li>
    <li class="nav-item"><a routerLink="/doctor/doctors" class="nav-link">Doctors</a></li>

    <li class="active nav-item" *ngIf="isLogged" [ngSwitch]="this.autorizationService?.currentUser?.Is_Organizer">
      <ng-template ngSwitchCase="true">
        <a routerLink="/admin" class="nav-link" data-toggle="dropdown"> Your profile </a>
      </ng-template>
      <ng-template ngSwitchCase="false">
        <a routerLink="/clinic-admin" class="nav-link" data-toggle="dropdown"> Your profile </a>
      </ng-template>
    </li>-->

    </ul>

    <mat-button-toggle-group class="ml-auto"  name="language" aria-label="Font Style" [(value)]="selectedLanguage">
      <mat-button-toggle [value]="item.locale" (click)="setLocale(item.locale)" *ngFor="let item of schema">{{ item.text }}</mat-button-toggle>
    </mat-button-toggle-group>
    
    <ul class="nav navbar-nav" style="width: 120px">
      <li *ngIf="isLogged" class="mx-auto">
        <a (click)="logOut()" class="nav-link"><b>Logout</b></a>
      </li>
      <li class="mx-auto">
        <login-component *ngIf="!isLogged"></login-component>
      </li>
    </ul>
  </div>
</nav>
