<div class="main bg-light p-3">
  <section *ngFor="let item of list">
    <div class="container py-3" style="height: max-content; margin-left: 0%">
      <div class="card rounded-lg p-1 shadw" style="height: max-content;">
        <div class="row ">
          <div class="col-sm-9 pl-0">
            <div class="card-block px-3 pt-2">
              <!--<span class="badge badge-pill" style="font-size: 16px; float: right;">
    <a class="btn btn-dark" [routerLink]="['info', item.id]"> Details </a>
  </span>
  <span class="badge badge-pill" style="font-size: 16px; float: right;" *ngIf="this.autorizationService?.currentUser?.Role == 'patient'">
    <a class="btn btn-dark" [routerLink]="['/conversations', item.clinicAdminId]"> Write </a>
  </span>
  <h4 class="card-title">{{item.name}}</h4>-->
              <h5 class="text-dark">{{item.voting_title }}</h5>
              <p class="card-text">
                {{item.voting_description}}
              </p>
              <a class="btn btn-dark" [routerLink]="['/votings/active', item.id]"> Write </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
